*{
	font-size: 1.75rem;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
div > div{
	height: 100px;
	width: 100px;
}

.holder{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
